@tailwind base;
@tailwind components;
@tailwind utilities;

/* Silksong-inspired dark theme */
@layer base {
  :root {
    --background: #000000;
    --foreground: #f5f5f5;
  }
  
  body {
    @apply bg-black text-silk-white;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
